@import "compass-mixins/compass";
@import "mixin";

.header {
    b {
        display: inline-block;
        @include size(36px, 36px);
        background: url(img/1.jpg);
        background-size: 100% 100%;
    }
}
